@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

button{
    height:fit-content;
    width:fit-content;
    padding:5px;
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}

.main-btn{
    width:100%;
    font-size: 3rem;
    font-family: 'Texturina', serif;
    transition:0.5s ease;
    background-color: hsl(36, 73%, 63%);
    border:none;
    box-sizing: border-box;
    border-bottom: 2px solid hsl(36,73%,43%);
    &:hover{
        text-shadow: 0 0 1px black;
        font-weight: 500;
        background-color: hsl(36,73%,70%);
    }
    &:active{
        text-shadow: 0 0 1px black;
        font-size: 2.5rem;
    }
}

.list-btn{
    display:flex;
    justify-content: center;
    font-family: 'Domine', serif;
    width:100%;
    border:none;
    background-color: hsl(14, 73%, 63%);
    box-sizing: border-box;
    border-bottom: 1px solid hsl(14, 73%, 43%);
    transition:0.5s ease;
    &:hover{
        text-shadow: 0 0 1px black;
        background-color: hsl(36,73%,70%);
    }
    &:active{
        text-shadow: 0 0 1px black;
        font-size: 2.5rem;
    }
}

.displayed-element{
    display: flex;
    padding:10px 20px;
    text-align:justify;
    font-size: 1.5rem;
    user-select: none;
    font-family: 'Catamaran', sans-serif;
    background-color: hsl(36,73%,90%);
}

.hidden-element{
    display:none;
}

.arrow{
    background-color:hsla(36, 73%, 63%,0);
    font-size:3rem;
}